/* General Styles */

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

#wrapper {
    display: grid;
    min-height: calc(100vh -50px);
}

.container {
    margin: 0 auto;
}

::selection {
    background: rgba(4, 166, 222, .2);
}

::-moz-selection {
    background: rgba(4, 166, 222, .2);
}

/* Variables */

:root {
    --primary-color: rgb(4, 166, 222);
    --secondary-color: rgb(7, 107, 188);
    --border-primary: rgba(0, 0, 0, .3);
    --border-secondary: rgba(0, 0, 0, .75);
}

.sticky-nav {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Header */

#header {
    margin: 0 auto 10px;
}

#header-img {
    max-width: 100%;
    height: auto;
}

/* Navigation */

#nav-bar {
    margin: 0 0 25px;
    background-color: var(--primary-color);
}

#nav-bar ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    padding: 0;
    max-width: 550px;
    margin: 0 auto;
}

#nav-bar li {
    border-right: 2px solid var(--border-primary);
    font-size: 100%;
    font-weight: 600;
}

#nav-bar li:nth-last-child(1) {
    border: none;
}

#nav-bar a {
    text-align: center;
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
}

#nav-bar a:hover {
    background-color: var(--secondary-color);
}

/* Product Info */

#product-info {
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
}

.media-container {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--border-primary);
}

.product-icon {
    display: none;
}

.product-desc h3 {
    color: var(--secondary-color);
    text-align: center;
}

.product-desc p {
    text-align: justify;
}

/* Product Video */

#product-video {
    width: 100%;
    height: 315px;
}

#product-video iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Product Price */

#product-price {
    margin: 20px 0 25px;
}

.price-container {
    border: 1px solid var(--primary-color);
    background-color: #fafafa;
    border-radius: 4px;
    width: 70%;
    min-width: 250px;
    max-width: 350px;
    margin: 0 auto 15px;
    text-align: center;
}

.price-header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px 0;
}

.price {
    padding: 10px 0;
    color: var(--secondary-color);
}

.price-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    width: 100px;
    height: 35px;
    margin: 15px 0 10px;
    border: 0;
    padding: 0;
    border-radius: 4px;
    font-size: 100%;
    font-family: inherit;
    font-weight: 600;
    background-color: var(--primary-color);
    color: #fff;
}

button:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

/* Newsletter */

#newsletter {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto 55px;
}

input[type="email"] {
    width: 70%;
    max-width: 250px;
    padding: 5px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid var(--border-primary);
    background-color: #fafafa;
    color: #000;
}

input[type="email"]:invalid {
    box-shadow: 0px 0px 2px 2px rgba(240, 0, 0, .75);
    border-radius: 4px;
}

input[type="email"]:valid {
    box-shadow: 0px 0px 2px 2px rgba(0, 240, 0, .75);
    border-radius: 4px;
}

/* Footer */

#footer {
    width: 100%;
    height: 50px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    background-color: var(--primary-color);
}

/* Media Queries */

@media screen and (min-width: 720px) {
    .product-icon {
        display: inline-block;
    }
    .media-container {
        display: flex;
        text-align: center;
    }
    .product-icon {
        flex: 1;
        color: var(--secondary-color);
        font-size: 2em;
        line-height: 88px;
    }
    .product-desc {
        flex: 6;
    }
    #product-video {
        width: 560px;
        height: 315px;
    }
    #product-video iframe {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 920px) {
    #product-price {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
        margin: 30px auto;
    }
}